.filmItem {
  background:transparent;
  width: 200px;
  height: 450px;
  margin: 25px;
}

.filmItem  h4 {
  text-align: center;
  color: #fcdab7;
}

.filmPoster {
  height: 300px;
  width: 200px;
  margin: 0 auto;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
}
